#grid {
display: grid;
/*border: 2px blue solid; */
width: 100vh;
height: 100vh;
grid-template: repeat(16,1fr) / repeat(16,1fr);

}

div {
 
border: 2px grey dotted;   

} 

 /*div :hover {

    color: black;
} */
}